/*-----------------------------TAG/*-----------------------------*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #ede5da;
    color: #40514e;
}

h1 {
    margin: 3.125rem auto 0 auto;
    font-family: 'Whisper', cursive;
    font-size: 5.5rem;
    line-height: 2;
    color: #332716;
}

h2 {
    font-family: 'Montserrat', sans-ser;
    color: #574731;
    font-weight: lighter;
    font-size: 2rem;
}

h3 {
    font-family: 'Montserrat', sans-ser;
    color: #574731;
    font-weight: lighter;
    font-size: 1.3rem;
}

a {
    color: #574731;
    font-family: 'Montserrat', sans-ser;
}

a:hover {
    color: white;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5rem;
    color: #473b29;
    size: 3rem;
    width: 5%;
    opacity: 50%;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-ser;
}


/*-----------------------------CLASSI/*-----------------------------*/

.top-container {
    padding-top: 60px;
    position: relative;
    padding-top: 20px;
    background-color: #e3d6c3;
}

.middle-container {
    background-color: #ede5da;
}

.bottom-container {
    background-color: #574731;
    margin-top: 1rem;
    padding: 1rem;
}

.bottom-cloud {
    position: absolute;
    left: 18%;
    bottom: 70%;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 2%;
}

.subtitle {
    font-size: 1.5rem;
}

.skill-row {
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;
    line-height: 1.5;
}

.img2 {
    width: 25%;
    float: right;
    margin-left: 2rem;
}

.img1 {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.profile-picture {
    margin-top: 2rem;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
}

.profile-picture:hover {
    width: 13rem;
    height: 13rem;
    transition: 0.3s;
}

.mountain-img {
    width: 70%;
}

.btn {
    background-color: #574731;
    color: #e9d7be;
    padding: 5px 15px;
    border: 2px solid #362d20;
    border-radius: 15px 30px;
    text-decoration: none;
}

.btn:hover {
    background-color: #345b63;
}

.footer-link {
    color: #e9d7be;
    margin: 0 1rem;
    text-decoration: none;
}

.copyright {
    color: #e9d7be;
}


/*-----------------------------ID/*-----------------------------*/